body {
    margin: 0;
    background-color: #202124;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
}

.navbar__items {
    margin: 20px;
    display: flex;
    column-gap: 1rem;
    list-style: none;
    justify-content: end;
    align-items: start;
}

.options {
    width: 1.2vw;
}

.user {
    width: 1.3vw;
    border-radius: 100%;
}

.navbar__items li a {
    color: white;
    text-decoration: none;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#tools {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#logo img {
    width: 14vw;
}

#search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#search input {
    background-color: #202124;
    border: solid 1px #5f6368;
    border-radius: 50px;
    width: 29vw;
    height: 4.5vh;
}

#search__icons {
    position: absolute;
    left: 80%;
    display: flex;
    gap: 10px
}

.search-icon {
    width: 1.2vw;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.search_img {
    width: 1.3vw;
}

#buttons {
    display: flex;
    column-gap: 1rem;
    margin: 20px;
}

#buttons button {
    color: white;
    background-color: #303134;
    border: none;
    width: 140px;
    height: 35px;
}

#country {
    border-bottom: solid 1px #3c4043;
}

#country p {
    color: white;
    margin: 15px;
}

#questions {
    display: flex;
    justify-content: space-between;
}

#questions__links {
    display: flex;
    margin: 15px;
    gap: 2rem;
}

.links__text {
    text-decoration: none;
    color: white;
}

#questions__personal {
    display: flex;
    margin: 15px;
    gap: 2rem;
}

.personal__links {
    text-decoration: none;
    color: white;
}

footer {
    text-decoration: none;
    background-color: #171717;
    position: absolute;
    bottom: 0;
    width: 100%;
}